# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Gradle
.gradle/
build/
out/
bin/

# Java
*.class
*.jar
!**/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Node (Future FE)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env*

# OS
.DS_Store
Thumbs.db

# Project Specific
schoolMee-BE/bin/
schoolMee-BE/build/
schoolMee-BE/.gradle/
